<!-- INTRO-->
<div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>It' not just a sunday<br>It's <span>Seabuck</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde et autem nam, necessitatibus cupiditate nobis temporibus. Dolorem debitis eius tenetur architecto natus, voluptatibus totam cum assumenda ad ipsum officia?</p>
                    <a href="" class="btn rounded-pill col-md-6 bg-green">Know more</a>
                </div>
                <div class="col-md-4">
                    <img src="assets/imgs/products.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
      
      </div>

      <div class="animation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2152.81 2835.65"><defs></defs><g id="Calque_2" data-name="Calque 2">
            <g id="Calque_2-2" data-name="Calque 2">
                <path class="back" d="M1.51.5s294.7,218.36,298.05,506.36-298,432-298,1078.32S1177,2835.15,1177,2835.15h975.36V.5Z"/>
            </g></g></svg>	
      </div>
 <!-- FIN INTRO-->