
   <!-- INTRO DU PRODUIT -->
   <div id="intro" class="intro_prod">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                  <img src="assets/imgs/{$produit->image->url}" class="img-fluid img-prod" alt="">
                  <div class="rond" style="background-color: {$produit->couleur} ;">

                  </div>
                </div>
                <div class="col-md-7">
                    <h1>{$produit->categorie->nom}<br><span>{$produit->nom }</span></h1>
                    <p>{$produit->texte}</p>
                    <a href="" class="btn rounded-pill col-md-6 bg-green">Ajouter au panier</a>
                </div>
               
            </div>
        </div>
      
      </div>
   <!-- FIN INTRO DU PRODUIT -->